body {
    margin: 0;
}

#ui-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;
    width: 100vw;
}

#win10-desktop {
    flex: 1 0 0%;
    background-image: url("assets/win10/desktop-backgrounds/default.png");
    background-size: cover;
}

#win10-taskbar {
    height: 40px;
    background: linear-gradient(90deg, #133c41, #1a3745, #1f243f);
}